@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .container {
  max-width: 1280px;
  margin: 0 auto;
} */
.main {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(9, 9, 121, 0.5)
    ),
    url(/images/img-1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

span {
  color: rgb(255, 138, 4);
  box-shadow: 5px 5px 15px 5px #f5f5f5;
  border-radius: 25px;
  padding: 0 15px;
}

.title {
  font-size: 40px;
  color: #fff;
  text-align: left;
  margin: 50px 25px;
}

.para {
  font-size: 25px;
  /* padding: 50px 500px; */
  margin: 100px auto;
  /* padding: 70px 20px; */
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 30px;
    padding: 0 15px;
  }

  .para {
    font-size: 20px;
    padding: 50px 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 641px) {
  .title {
    font-size: 25px;
    padding: 0 15px;
  }

  .para {
    font-size: 18px;
    padding: 25px 10px;
    margin: 0 auto;
  }
}

.heart {
  font-size: 3rem;
  position: fixed;
  top: -10vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

/* Feature Section */

.feature {
  background-color: #222;
  /* padding: 150px; */
  clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%);
  padding: 150px 0;
}

.feature-title {
  font-size: 36px;
  margin-bottom: 15px;
  text-align: center;
  color: #eeeeee;
  padding-top: 70px;
}

.feature-img {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

.feature-title__para {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: crimson;
  letter-spacing: 2px;
}

.feature-img__text {
  text-align: center;
  color: #eeeeee;
}

.feature-title__sub {
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
  background-color: #222;
  color: #eee;
  transition: 2s ease-in-out;
  box-shadow: 5px 5px 15px 5px #959595;
}

.feature-title__sub:hover {
  background-color: #881914;
  /* transition: background-color 2s ease-in-out; */
  transform: rotate(4deg);
  border-radius: 50px;
}

.feature-title__sub1 {
  font-size: 18px;
  text-align: center;
  /* margin-top: 50px; */
  letter-spacing: 2px;
  color: #eeeeee;
}

/* .feature-img.img {
  width: 250px;
  height: 0 auto;
  display: block;
} */

.eventbrite-img__button {
  width: 350px;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}

.eventbrite-text {
  margin-top: 50px;
  text-align: center;
  color: #eee;
  letter-spacing: 2px;
}

/* .eventbrite-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
} */

.donate-title {
  font-size: 40px;
  margin: 50px 0 25px;
}

.donate-text {
  font-size: 18px;
}

.donate-img {
  width: 100%;
  height: auto;
}

.donate-button {
  height: 200px;
  width: 650px;
  display: block;

  margin: 50px auto 50px;
}

footer {
  background-color: #222;
  padding: 25px 0;
  text-align: center;
  color: #eee;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .feature {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    padding: 75px 25px;
  }

  .donate-title {
    font-size: 40px;
    margin: 50px 0 25px;
    padding: 0 15px;
    text-align: center;
  }
}

@media screen and (max-width: 890px) {
  .title {
    font-size: 25px;
    padding: 0 15px;
  }

  .feature {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .feature-title {
    font-size: 30px;
    margin-bottom: 8px;
    text-align: center;
    color: #eeeeee;
    padding-top: 70px;
  }

  .feature-title__sub {
    font-size: 24px;
  }

  .feature-title__sub1 {
    font-size: 16px;
  }

  .donate-text {
    font-size: 16px;
    padding: 20px;
  }

  .donate-title {
    font-size: 30px;
    margin: 30px 0 0;
  }

  .para {
    font-size: 18px;
    padding: 25px 10px;
    margin: 0 auto;
  }

  .eventbrite-img__button {
    width: 250px;
    margin: 0 auto;
    display: block;
  }
}
